:root {
  --primarycolor: #0a101e;
  --secondarycolor: #fbc73e;
  --textprimary: #f8fffe;
  --textsecondary: #fbc73e;
  --shadowtext: #101624;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: var(--primarycolor);
  height: 1000px;
}

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: transparent;
  margin: 0;
  padding: 20px;
  z-index: 1000;
}

.logo {
  font-size: 14pt;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tombol {
  display: none;
}

.tombol img {
  width: 30px;
  cursor: pointer;
}

.menu {
  margin: 0;
  display: flex;
  list-style: none;
  padding: 0;
  flex-wrap: wrap;
}

.menu li {
  padding-right: 0px;
  position: relative;
}

.menu li a {
  padding: 10px;
  color: var(--textprimary);
  text-decoration: none;
  display: inline-block;
}

.menu li a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 5px;
  left: 0;
  background: var(--secondarycolor);
  transition: width 0.3s ease;
  -webkit-transition: width 0.3s ease;
}

.menu li a:hover::after {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }

  .menu.aktif {
    display: block;
    position: absolute;
    top: 64px;
    background: rgba(0, 0, 0, 0.3);
    padding: 10px 20px;
    right: 0;
    left: 0;
  }

  .menu li {
    position: static;
  }

  .menu.aktif li a {
    padding: 10px;
    display: block !important;
  }


  .tombol {
    display: block;
    margin-right: 40px;
  }
}

#home {
  position: relative;
  height: 100vh;
}

#bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

#home::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 0;
}

#home .keterangan .ket {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--textprimary);
  text-align: center;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icons {
  margin-top: 10px;
}

.icons a {
  margin: 0 10px;
  transition: transform 0.3s ease;
}

.icons a:hover {
  transform: scale(1.1);
}

.icons img {
  width: 40px;
  height: 40px;
}

.icons img:hover {
  width: 50px;
  height: 50px;
  transition: all ease-in-out 200ms;
}
