@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --primarycolor: #0a101e;
  --secondarycolor: #fbc73e;
  --textprimary: #f8fffe;
  --textsecondary: #fbc73e;
  --shadowtext: #131927;
}

body {
  margin: 0;
  background: var(--primarycolor);
  height: 2000px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: transparent;
  margin: 0;
  padding: 20px 50px;
  z-index: 1000;
}

.logo {
  font-size: 14pt;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tombol {
  display: none;
}

.tombol img {
  width: 30px;
  cursor: pointer;
}

.menu {
  margin: 0;
  display: flex;
  list-style: none;
  padding: 0;
  /* flex-wrap: wrap; */
}

.menu li {
  padding-right: 0px;
  position: relative;
}

.menu li a {
  padding: 10px;
  color: var(--textprimary);
  text-decoration: none;
  display: inline-block;
}

.menu li a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 5px;
  left: 0;
  background: var(--secondarycolor);
  transition: width 0.3s ease;
  -webkit-transition: width 0.3s ease;
}

.menu li a:hover::after {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .navbar {
    padding: 20px;
  }

  .menu {
    display: none;
  }

  .menu.aktif {
    display: block;
    position: absolute;
    top: 64px;
    background: rgba(0, 0, 0, 0.309);
    padding: 10px 20px;
    right: 0;
    left: 0;
  }

  .menu li {
    position: static;
  }

  .menu.aktif li a {
    padding: 10px;
    /* display: block !important; */
  }

  .tombol {
    display: block;
    margin-right: 40px;
  }
}

#home {
  position: relative;
  height: 100vh;
}

#bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

#home::after {
  content: "";
  position: absolute;
  padding: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 0;
}

#home .keterangan .ket {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--textprimary);
  text-align: center;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.keterangan .ket p {
  margin-top: -1px;
}

.icons {
  display: flex;
  margin-top: 10px;
}

.icons a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
  width: 50px;
  color: white;
  height: 50px;
  border: 1px solid white;
  border-radius: 8px;
  transition: all 0.4s ease;
}

.icons a:hover {
  background: var(--secondarycolor);
  transform: scale(1.1);
  color: black;
}

.icons svg {
  fill: white;
  transition: all 0.4s ease;
}

.icons a:hover svg {
  fill: black;
}

#about {
  padding-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about-section {
  position: relative;
  text-align: center;
  font-family: Arial, sans-serif;
  color: var(--textsecondary);
  margin-top: 30px;
}

.text-bg {
  font-size: 15vh;
  color: var(--shadowtext);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15vw;
  white-space: nowrap;
  z-index: 1;
}

.text-main {
  font-size: 2em;
  z-index: 2;
  position: relative;
}

.underline {
  width: 50px;
  height: 2px;
  background-color: var(--textsecondary);
  margin: 10px auto;
  z-index: 2;
  position: relative;
}

@media (min-width: 768px) {
  .text-bg {
    font-size: 100px;
  }
}

.biodata {
  display: flex;
  border-radius: 8px;
  padding: 80px;

  max-width: 800px;
  align-items: center;
  margin: auto;
}

.profile-picture img {
  border-radius: 50%;
  width: 250px;
  height: auto;
}

.profile-details {
  margin-left: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 500px;
}

.profile-details h1 {
  margin: 0;
  color: var(--textprimary);
}

.profile-details h2 {
  margin: 10px 0;
  color: var(--secondarycolor);
}

.profile-details p {
  margin: 10px 0;
  color: var(--textprimary);
}

.hubungi-saya {
  background-color: transparent;
  color: var(--textprimary);
  border: 1px solid white;
  border-color: #f8fffe;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: bold;
  align-self: flex-start;
}

.hubungi-saya:hover {
  background-color: var(--textsecondary);
  color: black;
  border: 1px solid #fbc73e;
}

@media screen and (max-width: 768px) {
  .biodata {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    padding-top: 50px;
    height: 100vh;
  }

  .profile-details {
    width: 100%;
    margin: 0;
    text-align: center;
  }

  .profile-details h1, .profile-details h2, .profile-details p {
    margin: 10px 0;
  }

  .profile-picture {
    margin-bottom: 20px;
  }

  .hubungi-saya {
    align-self: center;
    margin-top: 20px;
  }
}
